nav {
    display:flex;
    justify-content:space-between;
    margin:20px 0;
    background-color: black;
}
.info {
    display:flex;
    flex-wrap:wrap;
    flex:1;
}
.info li {
    font-size:17px;
    text-align:center;
    flex:1;
    flex-basis:100px;
    list-style-type:none;
    margin:10px;
}
.info a {
    text-align:center;
    padding:10px;
    text-decoration: none;
    color:white;
}
.info a:hover {
    background-color:slategray;
}
.social {
    display:flex;
    flex-wrap:wrap;
}
.social li {
    margin:auto 10px;
}
.social a {
    text-align:center;
    padding:10px;
    text-decoration: none;
}