*{
    margin:0
}
main {
    width:100%;
    /* max-width:960px; */
    margin:0 auto;
}
.flex-container {
    height:500px;
    display:flex;
    background-color:white;
    flex-flow:column;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}
.box {
    width:100px;
    /* min-width:500px; */
    margin:0 10px;
    flex:0 0 100px;
}
.one {
    background-color:blue;
    /* flex-grow:2; */
}
.two {
    background-color:red;
    /* flex-grow:3; */
}
.three {
    background-color: yellow;
    /* flex-grow:2; */
}
.flex-container2 {
    display:flex;
    background-color:white;
}
.box2 {
    height:100px;
    width:33%;
}
.four {
    background-color:gray;
    flex-shrink:1;
}
.five {
    background-color:black;
    flex-shrink:2;
}
.six {
    background-color: purple;
    flex-shrink:4;
}
.order {
    display:flex;
    justify-content:space-between;
}
.cot {
    background-color:bisque;
    margin:10px;
    padding:40px;
}
.on_e {
    order:1;
}
.tw_o {
    order:-10;
}
.thre_e {
    order:-9;
}